*{
    font-family: BarlowCondensed-Regular;
    font-family: BarlowCondensed-Bold;
    margin: 0;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
}
img:hover
{
    transition: all 0.2s linear;
    transform: scale(1.05);

}
#ad{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    font-family: BarlowCondensed-Bold;
}
#descriptions
{
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.icons{
    margin-top: 30px;
    text-align: center;
}
.youtube:hover{
    transition: all 0.2s linear;
    transform: scale(1.5);
    color: red;
}
.twitter:hover{
    transition: all 0.2s linear;
    transform: scale(1.5);
    color: rgb(29, 161, 242);
}
.insta:hover{
    transition: all 0.2s linear;
    transform: scale(1.5);
    color: rgb(138, 58, 185);
}
.whatsapp:hover{
    transition: all 0.2s linear;
    transform: scale(1.5);
    color: rgb(42, 138, 18);
}
i{
    font-size: 38px;
    margin-left: 9px;
    color: rgb(24, 18, 18,0.7);
}
p{
    margin-top: 15px;
    font-size: 17px;
    text-align: center;
}
.up{
    height: 30px;
    background-color: rgb(172, 167, 160);
}
.circle{
    font-size: 20px;
    color: white;
    background-color: white;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}
.box{
    box-sizing: border-box;
    height: 50px ;
    width: 450px;
    background-color:rgba(66, 108, 134, 0.8);
    margin: auto;
    margin-top: 50px;
    color: white;
    text-align: center;
    padding-top: 16px;
    border-radius: 4px;
}
.box1{
    box-sizing: border-box;
    height: 50px ;
    width: 450px;
    background-color:rgba(66, 108, 134, 0.8);
    margin: auto;
    margin-top: 6px;
    color: white;
    text-align: center;
    padding-top: 16px;
    border-radius: 4px;
}
.box2{
    box-sizing: border-box;
    height: 50px ;
    width: 450px;
    background-color:rgba(66, 108, 134, 0.8);
    margin: auto;
    margin-top: 6px;
    color: white;
    text-align: center;
    padding-top: 16px;
    border-radius: 4px;
}
.box3{
    box-sizing: border-box;
    height: 50px ;
    width: 450px;
    background-color:rgba(66, 108, 134, 0.8);
    margin: auto;
    margin-top: 6px;
    color: white;
    text-align: center;
    padding-top: 16px;
    border-radius: 4px;
}
.box4{
    box-sizing: border-box;
    height: 50px ;
    width: 450px;
    background-color:rgba(66, 108, 134, 0.8);
    margin: auto;
    margin-top: 6px;
    color: white;
    text-align: center;
    padding-top: 16px;
    border-radius: 4px;
}
.linkler
{
    color: beige; 
}
#certifated
{
    color: darkslategrey;
    font-size:18px ;
}
#footer
{
    background-color: rgb(177, 177, 177);
    color: darkslategrey;
    font-size: large;
    text-align: center;
    margin-top: 400px;
    padding: 100px;

}
#footertext
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bolder;
}
#footerend
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 100px;
    margin-bottom: -70px;
}
@font-face{
    font-family: BarlowCondensed-Regular;
    src:url(../../Fonts/BarlowCondensed-Regular.ttf);
    font-family: BarlowCondensed-Bold;
    src:url(../../Fonts/BarlowCondensed-Bold.ttf);


}